<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block 'title' %}WordPlease{% endblock %}</title>
</head>
<body>

    {% include 'posts/menu.html' %}

    {% block content %}

    {% endblock %}

</body>
</html>