{% extends 'posts/base.html' %}

{% block content %}
    {% if object_list|length > 0 %}
        <h1>Blogs</h1>
        <ul>
        {% for user in object_list %}
            <li>
                <a href="{% url 'user_posts_list' user.username %}">{{ user.username }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}