<a href="{% url 'home' %}">Home</a>
|
<a href="{% url 'blog_list' %}">Blogs</a>
|
{% if user.is_authenticated %}
    <a href="{% url 'post_create' %}">New post</a>
    |
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    |
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}
<hr />