{% extends 'posts/base.html' %}

{% block content %}
    {% if object_list|length > 0 %}
        <h1>Posts</h1>
        {% for post in object_list %}
            <div>
                <div style="background-color:#f0f0f0; background-image:url({{ post.imageUrl }});
                background-repeat: no-repeat; width: auto; height: 100px; width: 100px;"></div>
                <a href="{% url 'post_detail' post.owner post.pk %}">
                    <h2>{{ post.title }}</h2>
                </a>
                <div>{{ post.summary }}</div>
                <br />
                <div>{{ post.content }}</div>
                <br />
                <div>
                    <span>{{ post.owner.username }}</span> |
                    <span>{{ post.publish_on|date:"d-m-Y" }}</span>
                </div>
                <br />
                <hr />

                {% comment %}
                {% if post.categories|length > 0 %}
                    <span>Categories</span>
                    {% for category in post.categories %}
                        <span>{{ category.name }}</span> |
                    {% endfor %}
                {% endif %}
                {% endcomment %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}