{% extends 'posts/base.html' %}

{% block content %}

    <h1>{{ object.title }}</h1>
    <img src="{{ object.imageUrl }}" />
    <p>{{ object.summary }}</p>
    <p>{{ object.content }}</p>
    <p>
        <span>{{ object.owner.username }}</span> |
        <span>{{ object.publish_on|date:"d-m-Y" }}</span>
    </p>

{% endblock %}
